{
  "extends": "artcom-react",
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": [
        "DragDropContext",
        "DragLayer",
        "DragSource",
        "DropTarget",
        "TouchBackend"
      ]
    }],
    "react/prefer-stateless-function": "off"
  }
}
