[submodule "cms-frontend"]
	path = cms-frontend
	url = https://github.com/artcom/git-json-cms-frontend
[submodule "asset-server"]
	path = asset-server
	url = https://github.com/artcom/git-json-cms-asset-server.git
[submodule "content-repo"]
	path = content-repo
	url = https://github.com/artcom/git-json-cms-content-repo.git
[submodule "game-challenge/quiz/lib/eppsa-ksm-shared"]
	path = game-challenge/quiz/lib/eppsa-ksm-shared
	url = https://github.com/artcom/eppsa-ksm-shared.git
[submodule "game-client/lib/eppsa-ksm-shared"]
	path = game-client/lib/eppsa-ksm-shared
	url = https://github.com/artcom/eppsa-ksm-shared
[submodule "game-challenge/button/lib/eppsa-ksm-shared"]
	path = game-challenge/button/lib/eppsa-ksm-shared
	url = git@github.com:artcom/eppsa-ksm-shared.git
