[submodule "git-json-cms-content-repo"]
	path = git-json-cms-content-repo
	url = https://github.com/artcom/git-json-cms-content-repo.git
[submodule "git-json-cms-asset-server"]
	path = git-json-cms-asset-server
	url = https://github.com/artcom/git-json-cms-asset-server.git
[submodule "git-json-cms-frontend"]
	path = git-json-cms-frontend
	url = https://github.com/artcom/git-json-cms-frontend
[submodule "server"]
	path = server
	url = https://github.com/artcom/eppsa-ksm-server.git
[submodule "game"]
	path = game
	url = https://github.com/artcom/eppsa-ksm-game.git
