version: "3.2"

services:
  nginx:
    build: ./nginx
    depends_on:
      - asset-server
      - content-server
      - content-repo
      - cms-frontend
      - game-client
      - game-server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${CERTIFICATE_PATH}:/certificate
      - ./assets:/html

  asset-server:
    build: ./asset-server
    volumes:
      - type: volume
        source: assets
        target: /var/www/webdav

  content-server:
    image: "artcom/git-json-api:latest"
    environment:
      REPO_URI: http://content-repo/
      PORT: 80
    depends_on:
      - content-repo

  content-repo:
    build: ./content-repo
    volumes:
      - type: volume
        source: content
        target: /srv/content

  cms-frontend:
    build:
      context: ./cms-frontend
    environment:
      GIT_JSON_API_URI: https://content-server.${HOST}
      ASSET_SERVER_URI: https://asset-server.${HOST}
    depends_on:
      - content-server
      - asset-server

  dashboard:
    build:
      context: ./dashboard
    environment:
      CONTENT_SERVER_URI: https://content-server.${HOST}
      ASSET_SERVER_URI: https://asset-server.${HOST}
      GAME_SERVER_URI: https://game-server.${HOST}
      FONT_URI: https://static.${HOST}/fonts
      PORT: 443
    depends_on:
      - content-server
      - asset-server
      - game-server

  game-client:
    build:
      context: ./game-client
    environment:
      ASSET_SERVER_URI: https://asset-server.${HOST}
      CONTENT_SERVER_URI: https://content-server.${HOST}
      GAME_SERVER_URI: https://game-server.${HOST}
      STATIC_SERVER_URI: https://static.${HOST}
      PORT: 443
    depends_on:
      - content-server
      - asset-server
      - game-server
      - game-challenge-button
      - game-challenge-hunt-client
      - game-challenge-hunt-server
      - game-challenge-phaser-demo
      - game-challenge-boat

  game-server:
    build:
      context: ./game-server
    environment:
      MONGODB_URI: mongodb://mongo
    depends_on:
      - mongo

  game-challenge-button:
    build:
      context: ./game-challenge/button
    environment:
      PORT: 80

  game-challenge-hunt-client:
    build:
      context: ./game-challenge/hunt/eppsa-mobile-game-client
    environment:
      PORT: 80

  game-challenge-hunt-server:
    build:
      context: ./game-challenge/hunt/eppsa-mobile-game-server
    environment:
      PORT: 80

  game-challenge-phaser-demo:
    build:
      context: ./game-challenge/phaser-demo
    environment:
      PORT: 80

  game-challenge-quiz:
    build:
      context: ./game-challenge/quiz
    environment:
      PORT: 80
      ASSET_SERVER_URI: https://asset-server.${HOST}
      CONTENT_SERVER_URI: https://content-server.${HOST}
      GAME_SERVER_URI: https://game-server.${HOST}
      STATIC_SERVER_URI: https://static.${HOST}

  game-challenge-boat:
    build:
      context: ./game-challenge/boat
    environment:
      PORT: 80

  mongo:
    image: "mongo:3.6.3-jessie"
    volumes:
      - type: volume
        source: mongoDB
        target: /data/db

volumes:
  content:
  assets:
  mongoDB:
